openapi: 3.2.0
info:
  title: Teamleader Tasks API
  version: '2026-09-22'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-22: 58 operation(s) read from 60 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; Teamleader has published no machine-readable contract that the pipeline could find. Engine: anthropic.'
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-22'
  x-generator: generate-contract-from-docs.py
  x-engine: anthropic
  x-sources:
  - https://developer.focus.teamleader.eu/docs/authentication
  - https://developer.focus.teamleader.eu/docs/general-principles
  - https://developer.focus.teamleader.eu/docs/api/deals-list
  - https://developer.focus.teamleader.eu/docs/api/deals-info
  - https://developer.focus.teamleader.eu/docs/api/deals-create
  - https://developer.focus.teamleader.eu/docs/api/deals-update
  - https://developer.focus.teamleader.eu/docs/api/deals-move
  - https://developer.focus.teamleader.eu/docs/api/deals-win
  - https://developer.focus.teamleader.eu/docs/api/deals-lose
  - https://developer.focus.teamleader.eu/docs/api/deals-delete
  - https://developer.focus.teamleader.eu/docs/api/lost-reasons-list
  - https://developer.focus.teamleader.eu/docs/api/level-two-areas-list
  - https://developer.focus.teamleader.eu/docs/api/files-list
  - https://developer.focus.teamleader.eu/docs/api/files-info
  - https://developer.focus.teamleader.eu/docs/api/files-download
  - https://developer.focus.teamleader.eu/docs/api/files-upload
  - https://developer.focus.teamleader.eu/docs/api/files-delete
  - https://developer.focus.teamleader.eu/docs/api/ticket-status-list
  - https://developer.focus.teamleader.eu/docs/api/tasks-list
  - https://developer.focus.teamleader.eu/docs/api/tasks-info
  - https://developer.focus.teamleader.eu/docs/api/tasks-create
  - https://developer.focus.teamleader.eu/docs/api/tasks-update
  - https://developer.focus.teamleader.eu/docs/api/tasks-complete
  - https://developer.focus.teamleader.eu/docs/api/tasks-reopen
  - https://developer.focus.teamleader.eu/docs/api/tasks-delete
  - https://developer.focus.teamleader.eu/docs/api/tasks-schedule
  - https://developer.focus.teamleader.eu/docs/api/user-availability-daily
  - https://developer.focus.teamleader.eu/docs/api/tickets-list
  - https://developer.focus.teamleader.eu/docs/api/tickets-info
  - https://developer.focus.teamleader.eu/docs/api/tickets-create
  - https://developer.focus.teamleader.eu/docs/api/tickets-update
  - https://developer.focus.teamleader.eu/docs/api/tickets-list-messages
  - https://developer.focus.teamleader.eu/docs/api/tickets-get-message
  - https://developer.focus.teamleader.eu/docs/api/tickets-import-message
  - https://developer.focus.teamleader.eu/docs/api/tickets-add-reply
  - https://developer.focus.teamleader.eu/docs/api/tickets-add-internal-message
  - https://developer.focus.teamleader.eu/docs/api/timers-update
  - https://developer.focus.teamleader.eu/docs/api/contacts-list
  - https://developer.focus.teamleader.eu/docs/api/contacts-info
  - https://developer.focus.teamleader.eu/docs/api/contacts-add
  - https://developer.focus.teamleader.eu/docs/api/contacts-update
  - https://developer.focus.teamleader.eu/docs/api/contacts-delete
  - https://developer.focus.teamleader.eu/docs/api/contacts-tag
  - https://developer.focus.teamleader.eu/docs/api/contacts-untag
  - https://developer.focus.teamleader.eu/docs/api/contacts-link-to-company
  - https://developer.focus.teamleader.eu/docs/api/contacts-unlink-from-company
  - https://developer.focus.teamleader.eu/docs/api/contacts-update-company-link
  - https://developer.focus.teamleader.eu/docs/api/contacts-upload-avatar
  - https://developer.focus.teamleader.eu/docs/api/days-off-bulk-delete
  - https://developer.focus.teamleader.eu/docs/api/expenses-list
  - https://developer.focus.teamleader.eu/docs/api/payment-methods-list
  - https://developer.focus.teamleader.eu/docs/api/invoices-list
  - https://developer.focus.teamleader.eu/docs/api/invoices-info
  - https://developer.focus.teamleader.eu/docs/api/invoices-download
  - https://developer.focus.teamleader.eu/docs/api/invoices-draft
  - https://developer.focus.teamleader.eu/docs/api/invoices-update
  - https://developer.focus.teamleader.eu/docs/api/invoices-update-booked
  - https://developer.focus.teamleader.eu/docs/api/invoices-copy
  - https://developer.focus.teamleader.eu/docs/api/invoices-book
  - https://developer.focus.teamleader.eu/docs/api/invoices-delete
servers:
- url: https://api.focus.teamleader.eu
security:
- bearer: []
tags:
- name: Tasks
paths:
  /tasks.complete:
    post:
      operationId: post_tasks_complete
      tags:
      - Tasks
      summary: Mark a task as complete
      x-source: https://developer.focus.teamleader.eu/docs/api/tasks-complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostTasksCompleteRequest'
      responses:
        '204':
          description: Success (status as documented)
  /tasks.create:
    post:
      operationId: post_tasks_create
      tags:
      - Tasks
      summary: Create a new task
      x-source: https://developer.focus.teamleader.eu/docs/api/tasks-create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostTasksCreateRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTasksCreateResponse'
  /tasks.delete:
    post:
      operationId: post_tasks_delete
      tags:
      - Tasks
      summary: Delete a task
      x-source: https://developer.focus.teamleader.eu/docs/api/tasks-delete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostTasksDeleteRequest'
      responses:
        '204':
          description: Success (status as documented)
  /tasks.info:
    post:
      operationId: post_tasks_info
      tags:
      - Tasks
      summary: Get information about a task
      x-source: https://developer.focus.teamleader.eu/docs/api/tasks-info
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostTasksInfoRequest'
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTasksInfoResponse'
  /tasks.list:
    post:
      operationId: post_tasks_list
      tags:
      - Tasks
      summary: Get a list of tasks
      x-source: https://developer.focus.teamleader.eu/docs/api/tasks-list
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostTasksListRequest'
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTasksListResponse'
  /tasks.reopen:
    post:
      operationId: post_tasks_reopen
      tags:
      - Tasks
      summary: Reopen a task that had been marked as complete
      x-source: https://developer.focus.teamleader.eu/docs/api/tasks-reopen
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostTasksReopenRequest'
      responses:
        '204':
          description: Success (status as documented)
  /tasks.schedule:
    post:
      operationId: post_tasks_schedule
      tags:
      - Tasks
      summary: Schedule a task in your calendar
      x-source: https://developer.focus.teamleader.eu/docs/api/tasks-schedule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostTasksScheduleRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTasksScheduleResponse'
  /tasks.update:
    post:
      operationId: post_tasks_update
      tags:
      - Tasks
      summary: Update a task
      x-source: https://developer.focus.teamleader.eu/docs/api/tasks-update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostTasksUpdateRequest'
      responses:
        '204':
          description: Success (status as documented)
components:
  schemas:
    PostTasksScheduleResponse:
      type: object
      properties:
        data:
          type: object
    PostTasksScheduleRequest:
      type: object
      properties:
        id:
          type: string
        starts_at:
          type: string
        ends_at:
          type: string
      required:
      - id
      - starts_at
      - ends_at
    PostTasksReopenRequest:
      type: object
      properties:
        id:
          type: string
      required:
      - id
    PostTasksCreateResponse:
      type: object
      properties:
        data:
          type: object
    PostTasksDeleteRequest:
      type: object
      properties:
        id:
          type: string
      required:
      - id
    PostTasksInfoRequest:
      type: object
      properties:
        id:
          type: string
      required:
      - id
    PostTasksCompleteRequest:
      type: object
      properties:
        id:
          type: string
      required:
      - id
    PostTasksListRequest:
      type: object
      properties:
        filter:
          type: object
        page:
          type: object
        sort:
          type: object
    PostTasksCreateRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        due_on:
          type: string
        work_type_id:
          type: string
        milestone_id:
          type: string
          description: Only available for users that have access to the old projects module
        project_id:
          type: string
          description: Only available for users that have access to the new projects module
        deal_id:
          type: string
        ticket_id:
          type: string
        estimated_duration:
          type: object
        assignee:
          type: object
        customer:
          type: object
        custom_fields:
          type: object
      required:
      - title
      - description
      - work_type_id
    PostTasksInfoResponse:
      type: object
      properties:
        data:
          type: object
    PostTasksListResponse:
      type: object
      properties:
        data:
          type: object
    PostTasksUpdateRequest:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        due_on:
          type: string
        work_type_id:
          type: string
        milestone_id:
          type: string
        project_id:
          type: string
        deal_id:
          type: string
        ticket_id:
          type: string
        estimated_duration:
          type: object
        assignee:
          type: object
        customer:
          type: object
        custom_fields:
          type: object
      required:
      - id
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
